@* Summary: Form section for configuring the source API call (URL and HTTP method). *@
@*
    SourceApiPanel.razor
    --------------------
    Purpose:
    Allows editing of the source API call configuration:
    - URL of the API to fetch JSON from
    - HTTP method (GET or POST)
*@

@using MIBO.Domain.Models

<div class="panel">
    <div class="panel-header">
        <div>
            <div class="panel-title">Source API call</div>
            <div class="panel-subtitle">The API MIBO queries to fetch JSON.</div>
        </div>
    </div>

    <div class="form-grid">
        <div class="form-row">
            <label>Source URL</label><br />
            <InputText class="input-lg" @bind-Value="Config.SourceUrl" />
            <ValidationMessage For="@(() => Config.SourceUrl)" />
        </div>

        <div class="form-row">
            <label>HTTP method</label><br />
            <InputSelect @bind-Value="Config.SourceMethod">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="PATCH">PATCH</option>
                <option value="DELETE">DELETE</option>
            </InputSelect>
            <ValidationMessage For="@(() => Config.SourceMethod)" />
        </div>
    </div>
</div>

@code {
    [Parameter] public IntegrationConfig Config { get; set; } = default!;
}

