@* Summary: Legacy nav menu component used by the template for small-screen navigation. *@
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MIBO</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@AppRoutes.IntegrationsListRoot" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Integrations
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@AppRoutes.EditIntegration('NewIntegration')">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> New integration
            </NavLink>
        </div>
    </nav>
</div>


