@*
    TargetApiPanel.razor
    --------------------
    Purpose:
    Allows editing of the target API configuration:
    - URL to send the (mapped) JSON to
    - HTTP method (POST or PUT)
    This panel is used only in Sync-mode integrations.
*@

@using MIBO.Models

<div class="panel">
    <div class="panel-header">
        <div>
            <div class="panel-title">Target API call</div>
            <div class="panel-subtitle">Used to forward mapped output (optional).</div>
        </div>
    </div>

    <div class="form-grid">
        <div class="form-row">
            <label>Target URL</label><br />
            <input class="input-lg" @bind="Config.TargetUrl" />
        </div>

        <div class="form-row">
            <label>HTTP method</label><br />
            <select @bind="Config.TargetMethod">
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
            </select>
        </div>
    </div>
</div>

@code {
    [Parameter] public IntegrationConfig Config { get; set; } = default!;
}
